<nav class="navbar px-0 bg-base-100 mb-8">
  <div class="flex-1">
    <a class="text-xl font-bold">BlankBlog</a>
  </div>

  <div class="flex-none">
    <ul class="menu menu-horizontal space-x-8 justify-center items-center">
      <li>
        <a
          class="relative hover:text-primary hover:after:content-[''] hover:after:absolute hover:after:left-0 hover:after:right-0 hover:after:bottom-0 hover:after:h-1 hover:after:bg-primary focus:text-primary focus:after:bg-primary"
          >Home</a
        >
      </li>
      <li>
        <a
          class="relative hover:text-primary hover:after:content-[''] hover:after:absolute hover:after:left-0 hover:after:right-0 hover:after:bottom-0 hover:after:h-1 hover:after:bg-primary focus:text-primary focus:after:bg-primary"
          >About</a
        >
      </li>
      <li>
        <a
          class="relative hover:text-primary hover:after:content-[''] hover:after:absolute hover:after:left-0 hover:after:right-0 hover:after:bottom-0 hover:after:h-1 hover:after:bg-primary focus:text-primary focus:after:bg-primary"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</nav>
